body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.container-input {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    min-width: 50%;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
}

label {
    color: white;
}

button {
    margin-top: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgb(250, 218, 6);
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    background-color: rgb(218, 189, 1);
    cursor: pointer;
}

h2 {
    color: #ffffff;
    font-size: 1.1 em;
}